/* Header */
nav {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 16px;
    gap: 0px 24px;

    width: 100%;
    height: 133px;

    background: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
}

nav * {
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

nav>.logo {
    background: center / contain no-repeat;
    width: 100px;
}

nav>.name {
    padding: 0px;
    gap: 8px;

    width: 791px;
    height: 86px;

    order: 1;
}

nav>h1 {
    text-align: center;
    align-self: center;
    font-family: 'Title Hero', serif;
    letter-spacing: -3%;
    line-height: 120%;
    // text-align: center;
    font-size: 72px;
}